.product-wrapper{
    position: relative;
    cursor: pointer;
    
}
.quickview{
    width: 100%;
    position: absolute;
    bottom: 11%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    transition: all 1s;
    
}
.quickview-text{
    background: #f5d9c1c4;
    padding: 10px;
    text-align: center;
}
.product-wrapper:hover .quickview{
    display: block;
    text-decoration: none;
    color: black;
}
.product-image{
    width: 100%;
    height: 250px;
    overflow: hidden;
    
}
.product-image img{
    transition: transform 0.5s ease-in-out;
}
.product-wrapper:hover .product-image img{
    transform: scale(1.2);
}